/* Base container */
.game-container .disciples-on-tile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }
  
  /* Slot styles */
  .game-container .disciples-on-tile .slot {
    width: 15px;
    height: 15px;
    border: 2px solid #ccc;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  /* Interactive states */
  .game-container .disciples-on-tile .slot.selectable-slot {
    border: 2px solid gold;
    cursor: pointer;
  }
  
  .game-container .disciples-on-tile .slot.selectable-slot:hover {
    border: 2px solid black;
    background-color: #ffd700;
  }