
.game-container {
    display: flex;
    align-items: flex-start;
    margin: 20px;
    flex-direction: row;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    flex: 1 1 auto;
    justify-content: center;
}

div {
    padding: 5px;
  }

.players-shapes-directive-and-log-container {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    margin-right: 20px;
}

svg.owner-red {
    stroke: red;
    fill: red;
  }
  
svg.owner-blue {
    stroke: blue;
    fill: blue;
  }
  
svg.selectable  {
    transition: fill 0.3s, stroke 0.3s;
    stroke: #ffd700;
    stroke-width: 2;
  }
  

svg.selectable:hover {
    stroke: #ffd700;
    fill: #ffd700;
  }


svg.selectable:active {
    stroke: black;
    fill: black;
  }

svg.selectable {
    cursor: pointer;
}

.game-log {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
    height: 150px; /* Adjust height as needed */
    overflow-y: scroll;
    font-size: 0.9em; /* Adjust font size if necessary */
}

.game-log p {
    margin: 0;
    padding: 5px 0;
    border-bottom: 1px solid #eee;
}

.directive-text {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
    max-width: 300px; /* Adjust this value as needed */
    word-wrap: break-word;
    white-space: normal;
}