/* player_HUD.css */
.player-info {
    border: 2px solid;
    border-radius: 5px;
    padding: 0px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.player-red {
    border-color: red;
}

.selectable {
    border: 2px solid gold;
    cursor: pointer;
}

.player-blue {
    border-color: blue;
}
.player-active.player-red {
    background-color: #ffebee;
}
.player-active.player-blue {
    background-color: #e3f2fd;
}
.points-presence-power-peak-influence-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px;
    flex-direction: row;
    width: 100%;
    border-bottom: 2px dotted grey;
}

.icon-value-pair {
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: bold;
}

.icon-value-pair span {
    display: inline-flex;
    align-items: center;
    height: 24px;
    line-height: 24px;
}
.player-has-passed {
    background-color: #d3d3d3;
}
.cost-grid {
    width: 100%;
    padding: 0px;
}
.cost-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cost-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.cost-cell svg {
    width: 15px;
    height: 15px;
}