.power-tier {
    border-top: 1px solid #a39e9e;
    display: flex;
    flex-direction: row;
    transition: background-color 0.3s;
    padding: 5px;
    align-items: center;
}

.selectable-power-tier {
    cursor: pointer;
    background-color: #ddb61a;
}

.selectable-power-tier:hover {
    background-color: #ffd700;
}

.power-tier-on-cooldown {
    background-color: #d3d3d3; /* greyish background */
}

.power-requirement-at-tier {
    font-weight: bold;
}

.ruler-tier {
    font-weight: bold;
}

.player-indicators-for-power-tiers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .indicator {
    width: 1px;
    height: 1px;
  }
  
  .red-indicator {
    background-color: rgb(255, 0, 0);
  }
  
  .blue-indicator {
    background-color: blue;
  }
  
.crown-icon {
    width: 16px;
    height: 16px;
    color: black;
}

.cooldown-icon {
    vertical-align: middle;
}

.power-tier-indicators-and-requirements {
    display: flex;
    flex-direction: row;
}
