.powerup-container {
    display: flex;
    border: 1px solid #000000;
    flex-direction: row;
    align-items: center;
    margin: 10px 0;
}

.powerup-description {
    flex: 1;
    margin-right: 20px;
}

.selectable-powerup {
    border: 2px solid gold;
    cursor: pointer;
}

.selectable-powerup:hover {
    border-color: black;
}
