.shapes-on-tile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.slot {
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selectable-slot {
    border: 2px solid gold;
    cursor: pointer;
}

.slot:hover.selectable-slot {
    border: 2px solid black;
    background-color: #ffd700;
}