/* shapes_in_storage.css */
.player-shapes-and-info {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.points-presence-peak-power-row {
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    flex-direction: row;
}

.player-has-passed {
    background-color: #d3d3d3;
}

.arrows-row {
    display: flex;
    justify-content: center;
    padding: 2px;
    margin-bottom: -60px;
}

.shapes-row {
    display: flex;
    padding: 2px;
    justify-content: center;
}

.shape-and-amount-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}

.shape-and-amount-container svg {
    margin-bottom: 5px;
}

.arrow-container {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.arrow-container svg {
    stroke: black
}

.arrow-container svg:first-child {
    margin-bottom: 5px;
}

.shape-and-amount-container p {
    margin: 5px 0;
}

.arrow-selectable:active {
    stroke: black;
    fill: black;
}

.arrow-selectable:hover {
    cursor: pointer;
    stroke: rgb(231, 228, 40);;
}

svg {
    z-index: 1; /* Ensure arrows are on top */
}

.shape-row {
    z-index: 0; /* Ensure shapes are behind arrows */
}