/* client/src/components/tile.css */

.tile {
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: border-color 0.3s;
}

.tile h3 {
    text-align: center;
}

@keyframes flash {
    0% { border-color: gold; }
    50% { border-color: black; }
    100% { border-color: gold; }
}

/* New styles for ruler colors */
.tile-red {
    border: 3px solid;
    border-color: rgb(255, 41, 41);
}

.tile-blue {
    border: 3px solid;
    border-color: rgb(52, 52, 255);
}

.selectable-tile {
    border: 2px solid gold;
}

.selectable-tile:hover {
    border-color: black;
    cursor: pointer;
}

.selectable-tile:active {
    border-color: gold;
    animation: flash 0.2s;
}