/* client/src/components/tile.css */

.tile {
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: normal;
    transition: border-color 0.3s;
}

.power-per-player {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.tile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.tile-description br {
    display: block;
    margin-bottom: 1em;
  }

.tile-name {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
}

.tile-type {
    font-size: 0.9em;
    font-weight: bold;
    color: #666;
}

@keyframes flash {
    0% { border-color: gold; }
    50% { border-color: black; }
    100% { border-color: gold; }
}

.tile-red {
    border: 3px solid;
    border-color: rgb(255, 41, 41);
}

.tile-blue {
    border: 3px solid;
    border-color: rgb(52, 52, 255);
}

.tile-name-red {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(255, 41, 41);
}

.tile-name-blue {
    margin: 0;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(52, 52, 255);
}

.selectable-tile {
    border: 3px solid gold;
}

.selectable-tile:hover {
    border-color: black;
    cursor: pointer;
    animation: hover-flash 2s infinite; /* Adjusted animation */
}

@keyframes hover-flash {
    0% { border-color: gold; }
    50% { border-color: black; }
    100% { border-color: gold; }
}

.selectable-tile:active {
    border-color: gold;
    animation: flash 0.2s;
}

.tile-on-cooldown {
    background-color: #d3d3d3; /* greyish background */
}

.red-power{
    color: rgb(255, 41, 41);
}

.blue-power{
    color: rgb(52, 52, 255);

}

.separator {
    height: 1px;
    border: none;
    border-top: 1px solid #797676;
  }